.start-background{
    position: absolute;
    background-image:url("https://file.zhengchengshi.cn/tensorflow-game-source/game-background.jpg");
    background-repeat:repeat-x;
    background-size: cover;
    width: 100%;
    height: 100vh;
    .start-btns{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 239px;
        .start-btn{
            margin-top: 20px;
            width: 100px;
            height: 50px;
            background-image: url('https://s1.ax1x.com/2022/03/20/qZ1XND.png');
            background-repeat: no-repeat;
            background-size: cover;
            // position: absolute;
            // left: 50%;
            // bottom: 0;
            // transform: translateX(-50%);
            text-align: center;
            font-size: 18px;
            line-height: 43px;
            color: white;
        }
    }
    .start-road{
        position: absolute;
        bottom: 0;
        background-image:url("https://file.zhengchengshi.cn/tensorflow-game-source/ground.png");
        // background-position: 0 13px;
        background-position-y: bottom;
        background-repeat:repeat-x;
        background-size:100%;
        width: 100%;
        height: 10vh;
    }
    .start-maincharacter{
        position: absolute;
        bottom: 45px;
        left: 40px;
        transform: scale(1.8);
        .animation-container{
            .start-maincharacter-content{
                z-index: 10;
                // animation: start 5s infinite;
            }
    
        }
    }
}